@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    background-image: url('https://thumbs.dreamstime.com/b/green-grass-natural-background-texture-high-resolution-d-rendering-87487607.jpg');
    background-size: cover;
}

#header {
    text-align: center;
    color: lightgoldenrodyellow;
    font-family: 'Orbitron', sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

#gameboard {
    background-color: rgb(208, 151, 112);
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 50%;
    align-items: center;
    border-top-right-radius: 60%;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 95%;
    border-bottom-right-radius: 95%;
    padding: 10px;
}

button {
    width: 100px;
    margin: 3rem;
}

#pbp {
    font-family: 'Orbitron', sans-serif;
    color: lightgoldenrodyellow;
    align-items: center;
    text-align: center;
}

#playresult {
    font-family: 'Orbitron', sans-serif;
    color: lightgoldenrodyellow;
    align-items: center;
}

.outs, .inning {
    color: lightgoldenrodyellow;
    font-family: 'Orbitron', sans-serif;
}

.aboutsection {
    margin-left: 37%;
    width: 25%;
}

.about {
    text-align: center;
    color: lightgoldenrodyellow;
}
